<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mountains-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <section class="blog-news">
        <h3>Peaks</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ul class="blog-list">
            <li class="item">
                <section class="avatar">
                    <img src="./images/blog-1.jpg">
                </section>
                <section class="content">
                    <h4>PROJECT DESCRIPTION VIDEO</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquid
                        scire se gaudeant? Immo
                        alio genere; Quod vestri non.</p>
                    <a href="#">More Info</a>
                </section>
                <section class="buttons">
                    <a href="#">Routes</a>
                </section>
            </li>
        </ul>

    </section>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>