<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/peaks-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <section class="blog-news">
        <h3>Peaks</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ul class="blog-list">
            <th:block th:each="peak, iter : ${__${T(com.dimkov.bgMountains.util.Constants).MODEL_ATTR_NAME}__}">
                <li>
                    <img th:src="@{/images/mountain.png}" alt="mountain"/>
                    <a th:href="@{/mountains/details/{id}(id=${mountain.id})}" th:text="${mountain.name}"></a>
                </li>
                <li class="item">
                    <section class="avatar">
                        <img th:src="@{peak.image}">
                    </section>
                    <section class="content">
                        <h4 th:text="${peak.name}"></h4>
                        <p th:text="${peak.description}"></p>
                        <a th:href="@{/peaks/details/{id}(id=${peak.id})}">More Info</a>
                    </section>
                    <section class="buttons">
                        <a href="#">Mountain Info</a>
                    </section>
                </li>
            </th:block>
        </ul>

    </section>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>