<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <script th:src="@{/js/pagination-script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/peaks-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <section class="blog-news">
        <h3>Peaks</h3>
        <a href="/peaks/add" class="addButton">Add peak</a>
        <ul class="blog-list">
            <th:block th:each="peak, iter : ${__${T(com.dimkov.bgMountains.util.Constants).MODEL_ATTR_NAME}__}">
                <li class="item">
                    <section class="avatar">
                        <img th:src="${peak.imageUrl}">
                    </section>
                    <section class="content">
                        <h4 th:text="${peak.name}"></h4>
                        <p th:text="${peak.description}"></p>
                        <a th:href="@{/peaks/details/{id}(id=${peak.id})}">More Info</a>
                    </section>
                    <section class="buttons">
                        <a th:href="@{/mountains/details/{id}(id=${peak.location.id})}">Mountain Info</a>
                    </section>
                </li>
            </th:block>
        </ul>
        <div class="pagination">
            <th:block th:each="pageNumber :  ${__${T(com.dimkov.bgMountains.util.Constants).PAGES_ATTR_NAME}__}">
                <a th:href="@{|/peaks/*{pageNumber}|}" th:utext="${pageNumber}"></a>
            </th:block>
        </div>
    </section>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>