<th:block th:fragment="header">
    <nav>
        <ul class="menu">
            <li><a href="/">Начало</a></li>
            <li><a href="/mountainguides/1">Планински водачи</a></li>
        </ul>
        <ul class="user">
            <th:block sec:authorize="isAnonymous()">
                <li><a href="/users/login">Логин</a></li>
                <li><a href="/users/register">Регистрация</a></li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li><a href="/users/profile">Профил</a></li>
                <th:block sec:authorize="!hasAuthority('ROLE_FREELANCER')">
                    <li><a href="/becomeFreelancer" class="freelancer">Стани водач</a></li>
                </th:block>
                <th:block sec:authorize="hasAuthority('ROLE_FREELANCER')">
                    <li><a href="/setWorkingDays" class="freelancer">Задай работни дни</a></li>
                </th:block>
                <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <li><a href="/users/admin">Админ панел</a></li>
                </th:block>
                <li><a href="/logout">Изход</a> </li>
            </th:block>
        </ul>
    </nav>
</th:block>