<th:block th:fragment="header">
    <nav>
        <ul class="menu">
            <li><a href="">Home</a></li>
            <li><a href="/mountains">Mountains</a></li>
            <li><a href="/peaks">Peaks</a></li>
            <li><a href="/routes">Routes</a></li>
            <li><a href="/mountainguides">Mountain Guides</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="user">
            <th:block sec:authorize="isAnonymous()">
                <li><a href="/users/login">Log In</a></li>
                <li><a href="/users/register">Sign Up</a></li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Become freelancer</a></li>
            </th:block>
        </ul>
    </nav>
</th:block>