.blog-news{
    padding: 2em;
}

.blog-news .content{
    height: initial;
    padding: 0;
    background: transparent;
}

input[type="submit"] {
    cursor: pointer;
    display: block;
    text-decoration: none;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
}

.formWrapper textarea{
    width: 100%;
    resize: none;
}

.formWrapper {
    margin-top: 2em;
}

.formWrapper p{
    margin-bottom: 1em;
}
.comments p {
    width: 20em;
    background: gray;
    margin: 1em;
    color: white;
    padding: 0.5em;
}