<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <script th:src="@{/js/form-script.js}"></script>
    <script th:src="@{/js/add-route-script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <div id="formWrapper">
        <form th:method="post" th:object="${__${T(com.dimkov.bgMountains.util.Constants).MODEL_ATTR_NAME}__}"
              th:action="@{/routes/add}" enctype="multipart/form-data" id="actualForm">
            <div id="form">
                <div class="logo">
                    <p>Добави маршрут</p>
                </div>
                <div class="error" id="error">
                    <p>Трябва да попълните всички полета</p>
                </div>

                <div class="form-item">
                    <p class="formLabel">Начална точка</p>
                    <input th:value="*{startPoint}" type="text" name="startPoint" id="startPoint" class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <p class="formLabel">Крайна точка</p>
                    <input th:value="*{endPoint}" type="text" name="endPoint" id="endPoint" class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <p class="formLabel">Дължина в км</p>
                    <input th:value="*{lenght == 0 ? '' : lenght}" type="number" name="lenght" id="lenght"
                           class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <p class="formLabel">Описание</p>
                    <p class="error" id="descriptionError">Описанието може да бъде максимално 80 символа!</p>
                    <textarea th:value="*{description}" rows="4" name="description" id="description"></textarea>
                </div>
                <div class="form-item">
                    <select class="form-control" id="mountain" name="mountainName">
                        <th:block
                                th:each="mountain, iter : ${__${T(com.dimkov.bgMountains.util.Constants).MOUNTAINS_ATTR_NAME}__}">
                            <option th:text="${mountain.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-item">
                    <input type="submit" class="login pull-right" value="Добави">
                    <div class="clear-fix"></div>
                </div>

            </div>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>