<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head" />
</head>

<body>
    <header>
        <th:block th:include="fragments/header::header" />
    </header>
    <main>
        <section class="about-us">
            <h3>Чомолунгма</h3>
            <p>Опознай родината</p>
            <p>Опознайте българските върхове и планини. Наемете сертифициран водач за спокойно
            и приятно преживяване в планината</p>
        </section>
        <section class="team-description">
            <div class="team-description-wrapper">
                <h3>Планински водачи</h3>
                <p>Част от нашите планински водачи</p>
                <ul>
                    <th:block th:each="freelancer, iter : ${__${T(com.dimkov.bgMountains.util.Constants).MODEL_ATTR_NAME}__}">
                        <li>
                            <img th:src="${freelancer.imageUrl}" alt="pic">
                            <p th:text="${freelancer.fullName}"></p>
                            <p th:text="${freelancer.user.email}"></p>
                        </li>
                    </th:block>
                </ul>
            </div>
        </section>
        <section class="choose-us">
            <ul>
                <li>
                    <img src="./images/icon-1.png" alt="cloud">
                    <h4>Подготвени за всякакви условия</h4>
                </li>
                <li>
                    <img src="./images/icon-2.png" alt="bag">
                    <h4>Доказани професионалисти</h4>
                </li>
                <li>
                    <img src="./images/icon-3.png" alt="knife">
                    <h4>Дългогодишен опит</h4>
                </li>
            </ul>

        </section>
        <section class="blog-news">
            <h3>Върхове</h3>
            <ul class="blog-list">
                <th:block th:each="peak, iter : ${__${T(com.dimkov.bgMountains.util.Constants).PEAKS_ATTR_NAME}__}">
                    <li class="item">
                        <section class="avatar">
                            <img th:src="${peak.imageUrl}">
                        </section>
                        <section class="content">
                            <h4 th:text="${peak.name}"></h4>
                            <p th:text="${peak.description}"></p>
                        </section>
                    </li>
                </th:block>
            </ul>

        </section>
    </main>
    <footer>
        <th:block th:include="fragments/footer::footer" />
    </footer>
</body>

</html>