<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <div class='login'>
        <h2>Логин</h2>
        <th:block th:if="${(param.error != null) and (param.error[0] == 'true')}">
            <div id="error" class="error">
                <p>Грешно потребителско име или парола</p>
                <p>Нямаш акаунт? <a th:href="@{/users/register}">Регистрирай се</a></p>
            </div>
        </th:block>
        <form id="login-form" th:action="@{/users/login}" th:method="post">
            <div id="usernameWrapper">
                <input id='username' name='username' placeholder='Username' type='text'>
                <i class="fas fa-check"></i>
                <i class="fas fa-times"></i>
            </div>
            <div id="passwordWrapper">
                <input id='pw' name='password' placeholder='Password' type='password'>
                <i class="fas fa-check"></i>
                <i class="fas fa-times"></i>
            </div>
            <input class='animated' type='submit' value='Логин'>
        </form>
        <a class='forgot' th:href="@{/users/register}">Нямаш акаунт? Регистрирай се!</a>
    </div>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>