<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <script th:src="@{/js/form-script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <div id="formWrapper">
        <form th:method="post" th:action="@{/users/becomeFreelancer}" enctype="multipart/form-data">
            <div id="form">
                <div class="logo">
                    <p>Become freelancer</p>
                </div>
                <th:block th:if="${(param.error != null) and (param.error[0] == 'true')}">
                    <div class="error" id="error">
                        <p>You must fill all fields.</p>
                    </div>
                </th:block>
                <div class="form-item">
                    <p class="formLabel">Certificate number</p>
                    <input type="number" name="certificateNumber" id="certificateNumber" class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <p class="formLabel">Age experience</p>
                    <input type="number" max="90" name="ageExperience" id="ageExperience" class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <p class="formLabel">Mobile number</p>
                    <input type="text" name="mobileNumber" id="mobileNumber" class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <p class="formLabel">Fee per day</p>
                    <input type="number" min="1" name="fee" id="fee" class="form-style" autocomplete="off"/>
                </div>
                <div class="form-item">
                    <input type="file" name="image" accept="image/*">
                </div>
                <div class="form-item">
                    <input type="submit" class="login pull-right" value="Add mountain">
                    <div class="clear-fix"></div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>