<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/head::head"/>
    <script th:src="@{/js/comments-script.js}"></script>
    <script th:src="@{/js/hire-freelancer-script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/peaks-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/comments-style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/date-style.css}"/>
</head>
<body>
<header>
    <th:block th:include="fragments/header::header"/>
</header>
<main>
    <section class="blog-news">
        <th:block th:if="${(param.error != null) and (param.error[0] == 'true')}">
            <div>
                <p>Възникна грешка! Опитайте отново по-късно</p>
            </div>
        </th:block>
        <th:block th:object="${__${T(com.dimkov.bgMountains.util.Constants).MODEL_ATTR_NAME}__}">
            <ul class="blog-list">
                <section class="avatar">
                    <img th:src="*{imageUrl}">
                    <th:block
                            th:unless="${#authentication.principal.username == __${T(com.dimkov.bgMountains.util.Constants).MODEL_ATTR_NAME}__.user.username}">
                        <a href="#" class="freelancer" id="hire">Наеми</a>
                        <form th:method="POST" th:action="@{|/hire/*{id}|}" id="dateForm" class="dateForm">
                            <p class="error" id="dateError">Грешна дата!</p>
                            <p class="error" id="wrongDate">Избраните дати са заети!</p>
                            <div class="formWrapper">
                                <label for="startDate">Начална дата:</label>
                                <input type="date" name="startDate" id="startDate" required/>
                            </div>
                            <div class="formWrapper">
                                <label for="endDate">Крайна дата:</label>
                                <input type="date" name="endDate" id="endDate" required/>
                            </div>
                            <input type="submit" value="Наеми"/>
                        </form>
                    </th:block>
                </section>
                <section class="content">
                    <h4 th:utext="*{fullName}"></h4>
                    <p th:utext="*{'Years experience: ' + ageExperience}"></p>
                    <p th:utext="*{'Certificate Number: ' + certificateNumber}"></p>
                    <p id="fee" th:utext="*{'Fee per day: ' + fee + '$'}"></p>
                    <p th:utext="*{'Mobile number: ' + mobileNumber}"></p>
                    <p th:utext="*{'Email: ' + user.email}"></p>
                    <br/>
                    <p>About me: </p>
                    <p th:utext="*{description}"></p>
                </section>
                <form id="comment-form" th:method="POST" th:action="@{|/comment/*{id}|}">
                    <div class="formWrapper">
                        <p>Leave a comment:</p>
                        <p class="error" id="error">Коментарът трябва да е между 1 и 255 символа</p>
                        <textarea id="comment" name="comment" maxlength="255" rows="4"></textarea>
                        <input type="submit" value="Comment"/>
                    </div>
                    <div id="listingTable" class="comments"></div>
                    <a href="javascript:prevPage()" id="btn_prev">Предишна</a>
                    <a href="javascript:nextPage()" id="btn_next">Следваща</a>
                    страница: <span id="page"></span>
                </form>
            </ul>
        </th:block>
    </section>
</main>
<footer>
    <th:block th:include="fragments/footer::footer"/>
</footer>
</body>

</html>